body {
  background-image: url("image/subway.jpg");

  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.h1{ 
    margin-left: 20px;
    display: flex;
    }
   button {
         border: none;
         padding-top: 10px;
         padding-bottom: 10px;
         color: white;
         font-weight: bold; 
         width: 200px;
         margin-bottom: 5px;
         border-radius: 8px; 
    }
    #increment-btn{
        background: darkolivegreen;
    }
    #decrement-btn{
      background: darkred;
      }
      #save-btn{
       background-color:darkcyan ;
      }